.nutui-page-lottery  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top center;
  background-size: cover;
  .lottery-container {
    padding-top: 20vw;
  }
}
